/* general styles */

body {
    background-color: lightblue;
}


/* header styles */

#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightskyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cart-logo {
    width: 40px;
    height: auto;
}

#shopping-cart-item {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#title-item {
    text-align: center;
}

/* navigation bar styles */

#nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 30px;
}