#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#cart-logo {
    width: 40px;
    height: auto;
}

#shopping-cart-item {
    display: flex;
    justify-content: flex-end;
}

#title-item {
    text-align: center;
}